/* main{
	position: absolute;
	top:0;
	width: 100%;
} */
nav{
	position: sticky;
	top: 0;
	width: 100%;
	/* border: 1px solid black; */
	/* display: flex;
	flex-direction: row; */
	font-size: 1.5rem;
	z-index: 1;
}

nav a{
	text-decoration: none;
	 color: black;
}

.burger {
	right: 0;
	margin-right: 20px;
	margin-top: 10px;
	position: absolute;
}
/* nav #logo{
	text-decoration: none;
	border: 1px solid red;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
} */


nav #navItems  {	
	background: orange;
	border: 1px solid green;
	width: 100%;
	height: 100vh;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 5000px;
	transition: 1.5s;
	/*transition: all 1.5s linear;*/ 
}

.change .navItem {
	opacity: 0;
}

/*@media only screen and (min-width: 960px){
	nav .navItems {
		font-size: 1.5rem;
	}
	nav #logo {
		font-size: 3rem;
	}
}*/

.burger {
	display: inline-block;
	cursor: pointer;
	z-index: 1;
  }
  
  .burger__bar1, .burger__bar2, .burger__bar3{
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
  }
  
  .change .burger__bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .burger__bar2 {opacity: 0;}
  
  .change .burger__bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
  }



.pane {
	
    height: 100vh;
}

.pane__first {
    background-color: #ffdcb4;
}

.pane__second {
    background-color: blue;
}

.pane__third {
    background-color: pink;
}

h1 {
    font-size: 30vw;
    height: 100vh;
    overflow: hidden;
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100vw}
  }
  
  /* The typewriter cursor effect */
  /* @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  } */

footer {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}